// COLORS
    // Color Cube
    $cinder: #0d0c11;
    $prim: #fefdfe;
    $jacksonsPurple: #361c86;
    $blueRibbon: #2543f1;
    $violetRed: #f53c81;
    $japaneseMaple: #78030d;
    $portage: #9287f3;
    $beaver: #926c5e;
    $eunry: #d5b0a1;
    $bondiBlue: #0193b0;

    // Median cut
    $ebony: #0f0e22;
    $viola: #be80a4;
    $governorBay: #3e3db8;
    $buccaneer: #622d32;
    $havelockBlue: #4da4dd;

    // Material design
    $sepiaSkin: #a07037;
    $flint: #67635e;
    $luckyPoint: #161a60;
    $voodoo: #5b3866;
    $oldRose: #c1787f;

    
    // text variations
.red_text{
    color: $violetRed;
}

.blue_text{
    color: $havelockBlue;
}

.white_text{
    color: $prim;
}


    // buttons variations
.red_button{
    background-color: $violetRed;
}

.blue_button{
    background-color: $havelockBlue;
}