@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*{
    font-family: 'Arimo', sans-serif;
}

.bold_little_title{
    font-size: 30px;
    font-weight: 700;
}

.big_title{
    font-size: 70px;
    padding-bottom: 20px;
}